body{
	height:98vh;
}

div.main-content-body{
	width:100%;
	height:72vh;
	text-align: center;
	margin-top: 10px;
}

td.form-body{
	background-color:#e0e0e0;
	text-align: left;
	padding-left: 20px;
	padding-right:20px;
	overflow-y: scroll;
	border: 1px solid black;
	box-shadow: 6px 8px 6px #404040;
}

div.form-body{
	height:50vh;
}

p.form-text{
	color:black;
}

h3.form-title{
	overflow-x: scroll;
	width:290px;
	text-align: center;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:10px;
	margin-right:10px;
}

a.content-links{
	text-decoration: none;
}

div.spacer-top{
	width:100%;
	height:61px;
}

h2.feedback-sent{
	padding-top: 10px;
}

td.date{
	float:right;
}

img{
	max-width:280px;
	max-height: 190px;
}

h4.short-text{
	width:265px;
	height:190px;
	overflow-y: scroll;
}

h4.short-text-noimage{
	width:265px;
}

td.ali-right{
	text-align:right;
}

td.ali-left{
	text-align:left;
}

h2.contactus{
	padding-top:10px;
}

@media screen and (max-width: 1500px){
	textarea{
		width:90% !important;
		min-width:2px !important;
	}
}