h1.mainheader{
	text-align:center;
	color:lightgray;
}
h3.mainheader{
	text-align:center;
	color: lightgray;
}
div.mainheader{
	background-color: gray;
	background-image:url("images/background.png");
	background-position: center center;
	background-size: cover;
	padding-top:320px;
	padding-bottom:100px;
	margin-left:0px;
	margin-top:0px;
}