body{
	padding: 0px;
	background-color:#666666;
	font-family: Arial, sans-serif;
	margin:0px;
}

.burger-nav{
	display: none;
}

.container{
	background-color: #000000;
}

.nav-container{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}

.content-container{
	width: 1000px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav li{
	list-style: none;
	font-size: 15pt;
	display: inline-block;
	padding: 10px;
	width: 29%;
	text-align: center;
}

nav li:first-child{
	border-right: 1px solid #fff;
}

nav li:last-child{
	border-left: 1px solid #fff;
}

nav a{
	color: #ffffff;
	text-decoration: none;
}

nav a:hover{
	color: #999999;
}

h1.altheader{
	text-align:center;
	color:lightgray;
}

h3.altheader{
	text-align:center;
	color: lightgray;
}

div.altheader{
	background-color: gray;
	background-image:url("images/background.png");
	background-position: center center;
	background-size: cover;
	padding-top:120px;
	padding-bottom:50px;
	margin-left:0px;
	margin-top:0px;
}

a.post-title{
	color: #808080;
	text-decoration: none;
	text-align: center;
	margin-left:10px;
	margin-right:10px;
	font-size:16pt;
}

p.post-short{
	text-align: center;
	width:290px;
}

img.post-image{
	min-width:2%;
	min-height: 2%;
	max-height: 195px;
}

.content-container .row{
	width: 100%;
	position: relative;
	display: block;
}

.content-container .row .column{
	border: 1px solid #000000;
	width: 447px;
	height:200px;
	background-color: #e0e0e0;
	box-shadow: 6px 8px 6px #404040;
	margin-bottom: 20px;
	padding: 20px;
}

.content-container .row .column:first-child{
	float: left;
	margin-right: 20px;
}

.content-container .row .column:last-child{
	float: right;
	margin: 0;
}

.internal-column .text-content{
	float: left;
	width: 200px;
}

.internal-column .text-content .post-short{
	width: 100%;
}

.internal-column .image{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 200px;
	float: right;
	height: 200px;
}