body{
	height:100vh;
}

body:hover{
	background-color: yellow;
}

h1.altheader{
	text-align:center;
	color:lightgray;
}

h3.altheader{
	text-align:center;
	color: lightgray;
}

div.altheader{
	padding-top:120px;
	padding-bottom: 50px;
	width:100%;
	background-color: gray;
	background-image:url("background.jpg");
	margin-left:0px;
	margin-top:0px;
}

div.main-content-body{
	width:100%;
	height:72vh;
	background-color:#e0e0e0;
	text-align: center;
}

	td.post-body{
	background-color:#666666;
	text-align: left;
	padding-left: 20px;
	padding-right:20px;
	overflow-y: scroll
}

div.post-body{
	height:70vh;
}

p.post-text{
	color:white;
}

h3.post-title{
	overflow-x: scroll;
	width:290px;
	text-align: center;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:10px;
	margin-right:10px;
}

img{
	max-width:280px;
	max-height: 190px;
}