body{
	height:100vh;
}
h1.altheader{
	margin-top:120px;
	text-align:center;
	color:lightgray;
}
h3.altheader{
	margin-bottom: 50px;
	text-align:center;
	color: lightgray;
}
div.altheader{
	background-color: gray;
	background-image:url("background.jpg");
	margin-left:0px;
	margin-top:0px;
}

p.post-text{
	color:white;
}

h3.post-title{
	overflow-x: scroll;
	width:290px;
	text-align: center;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:10px;
	margin-right:10px;
}

img{
	max-width:280px;
	max-height: 190px;
}